h1 {
    text-align: center;
}

#game-board {
    display: flex;
    margin-bottom: 100px;
}


section:first-child,
section:last-child {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-basis: 0;
    flex-grow: 1;
    padding: 3em;
}

.letter-row_0,
.letter-row_1,
#first,
#second,
#third {
    display: flex;
}

.letter-box,
.letter-box-disable {
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    font-size: 22px;
    border: 1px solid #ccc;
    border-radius: 10px;
    margin: 2px;
    text-transform: uppercase;
}


.return {
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 40px;
    font-size: 24px;
    border: 1px solid #ccc;
    border-radius: 10px;
    margin: 2px;
}

.now_turn {
    background-color: rgb(175, 255, 175);
}

#correct {
    background-color: green;
    color: white;
}

#incorrectIndex {
    background-color: yellow;
}

#incorrect {
    background-color: grey;
}

#second {
    margin-left: 20px;
}

#third {
    margin-left: 40px;
}

.qwerty {
    display: flex;
    flex-direction: column;
    align-items: center;
}