input[type="text"] {
    width: 40px;
    height: 40px;
    text-align: center;
    font-size: 24px;
    border: 1px solid #ccc;
    border-radius: 10px;
    margin: 2px;
}

input[type="submit"] {
    height: 40px;
    border-radius: 10px;
}

div {
    display: flex;
    margin-bottom: 100px;
}

section:first-child {
    margin-right: 20%;
}

#i2-1-1,
#i3-1-5,
.correct {
    background-color: green;
    color: white;
}

#i2-1-5,
#i3-1-1,
.incorrectIndex {
    background-color: yellow;
    color: white;
}

.incorrect {
    background-color: grey;
}

::-webkit-input-placeholder {
    color: black;
}

#second {
    margin-left: 20px;
}

#third {
    margin-left: 40px;
}

.qwerty {
    margin-left: 10%;
}