<!DOCTYPE html>
<html lang="ru">
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wordly</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" rel="stylesheet" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <script src="{% static 'script.js' %}" type="module"></script>
    {{ now_player|json_script:"now_player" }}
    {{ letters|json_script:"letters" }}
    {{ used_letters|json_script:"used_letters" }}
    {{ p1_words|json_script:"p1_words" }}
    {{ p2_words|json_script:"p2_words" }}
    {{ winner|json_script:"winner" }}

</head>

<body>
    <h1> Wordly </h1>

    <div id="game-board">

    </div>
    <article class="qwerty">
        <article id="first">
            <div class="letter-box-disable" name="й">Й</div>
            <div class="letter-box-disable" name="ц">Ц</div>
            <div class="letter-box-disable" name="у">У</div>
            <div class="letter-box-disable" name="к">К</div>
            <div class="letter-box-disable" name="е">Е</div>
            <div class="letter-box-disable" name="н">Н</div>
            <div class="letter-box-disable" name="г">Г</div>
            <div class="letter-box-disable" name="ш">Ш</div>
            <div class="letter-box-disable" name="щ">Щ</div>
            <div class="letter-box-disable" name="з">З</div>
            <div class="letter-box-disable" name="х">Х</div>
            <div class="letter-box-disable" name="ъ">Ъ</div>
        </article>
        <article id="second">
            <div class="letter-box-disable" name="ф">Ф</div>
            <div class="letter-box-disable" name="ы">Ы</div>
            <div class="letter-box-disable" name="в">В</div>
            <div class="letter-box-disable" name="а">А</div>
            <div class="letter-box-disable" name="п">П</div>
            <div class="letter-box-disable" name="р">Р</div>
            <div class="letter-box-disable" name="о">О</div>
            <div class="letter-box-disable" name="л">Л</div>
            <div class="letter-box-disable" name="д">Д</div>
            <div class="letter-box-disable" name="ж">Ж</div>
            <div class="letter-box-disable" name="э">Э</div>
        </article>
        <article id="third">
            <div class="letter-box-disable" name="я">Я</div>
            <div class="letter-box-disable" name="ч">Ч</div>
            <div class="letter-box-disable" name="с">С</div>
            <div class="letter-box-disable" name="м">М</div>
            <div class="letter-box-disable" name="и">И</div>
            <div class="letter-box-disable" name="т">Т</div>
            <div class="letter-box-disable" name="ь">Ь</div>
            <div class="letter-box-disable" name="б">Б</div>
            <div class="letter-box-disable" name="ю">Ю</div>
            <div class="letter-box-disable" name="ё">Ё</div>
        </article>
    </article>
</body>

</html>