<!DOCTYPE html>
<html lang="ru">
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Перемещение буквы в следующее поле ввода</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script>
        $(document).ready(function () {
            // Обработчик события ввода для полей
            $('input').on('input', function () {
                var nextInput = $(this).next('input');
                if (nextInput.length > 0) {
                    nextInput.focus();
                }
            });
            document.getElementById('send').onclick = function () {
                var letters = document.getElementsByClassName('firstRow');
            };
        });
    </script>
</head>

<body>
    <div>
        <section>
            <h2>Player 1</h2>
            <form>
                <input type="text" class="firstRow" id="1-1-1" name="letter1" maxlength="1">
                <input type="text" class="firstRow" id="1-1-2" name="letter2" maxlength="1">
                <input type="text" class="firstRow" id="1-1-3" name="letter3" maxlength="1">
                <input type="text" class="firstRow" id="1-1-4" name="letter4" maxlength="1">
                <input type="text" class="firstRow" id="1-1-5" name="letter5" maxlength="1">
                <input type="submit" id="send" value="Отправить">
            </form>

            <form>
                <input type="text" class="inactive" id="i2-1-1" name="2letter1" maxlength="1" placeholder="А">
                <input type="text" class="inactive" id="i2-1-2" name="2letter2" maxlength="1" placeholder="К">
                <input type="text" class="inactive" id="i2-1-3" name="2letter3" maxlength="1" placeholder="У">
                <input type="text" class="inactive" id="i2-1-4" name="2letter4" maxlength="1" placeholder="Л">
                <input type="text" class="inactive" id="i2-1-5" name="2letter5" maxlength="1" placeholder="А">
            </form>

            <form>
                <input type="text" class="inactive" id="i3-1-1" name="2letter1" maxlength="1" placeholder="В">
                <input type="text" class="inactive" id="i3-1-2" name="2letter2" maxlength="1" placeholder="Е">
                <input type="text" class="inactive" id="i3-1-3" name="2letter3" maxlength="1" placeholder="С">
                <input type="text" class="inactive" id="i3-1-4" name="2letter4" maxlength="1" placeholder="Л">
                <input type="text" class="inactive" id="i3-1-5" name="2letter5" maxlength="1" placeholder="О">
            </form>

            <form>
                <input type="text" class="inactive" id="i4-1-1" name="2letter1" maxlength="1">
                <input type="text" class="inactive" id="i4-1-2" name="2letter2" maxlength="1">
                <input type="text" class="inactive" id="i4-1-3" name="2letter3" maxlength="1">
                <input type="text" class="inactive" id="i4-1-4" name="2letter4" maxlength="1">
                <input type="text" class="inactive" id="i4-1-5" name="2letter5" maxlength="1">
            </form>

            <form>
                <input type="text" class="inactive" id="i5-1-1" name="2letter1" maxlength="1">
                <input type="text" class="inactive" id="i5-1-2" name="2letter2" maxlength="1">
                <input type="text" class="inactive" id="i5-1-3" name="2letter3" maxlength="1">
                <input type="text" class="inactive" id="i5-1-4" name="2letter4" maxlength="1">
                <input type="text" class="inactive" id="i5-1-5" name="2letter5" maxlength="1">
            </form>
        </section>


        <section>
            <h2>Player 2</h2>

            <form>
                <input type="text" class="inactive" id="i2-1-1" name="2letter1" maxlength="1" placeholder="Ш">
                <input type="text" class="inactive" id="i2-1-2" name="2letter2" maxlength="1" placeholder="К">
                <input type="text" class="inactive" id="i2-1-3" name="2letter3" maxlength="1" placeholder="О">
                <input type="text" class="inactive" id="i2-1-4" name="2letter4" maxlength="1" placeholder="Л">
                <input type="text" class="inactive" id="i2-1-5" name="2letter5" maxlength="1" placeholder="А">
            </form>

            <form>
                <input type="text" class="inactive" id="i3-1-1" name="2letter1" maxlength="1" placeholder="В">
                <input type="text" class="inactive" id="i3-1-2" name="2letter2" maxlength="1" placeholder="Е">
                <input type="text" class="inactive" id="i3-1-3" name="2letter3" maxlength="1" placeholder="Д">
                <input type="text" class="inactive" id="i3-1-4" name="2letter4" maxlength="1" placeholder="Р">
                <input type="text" class="inactive" id="i3-1-5" name="2letter5" maxlength="1" placeholder="О">
            </form>

            <form>
                <input type="text" class="inactive" id="i4-1-1" name="2letter1" maxlength="1">
                <input type="text" class="inactive" id="i4-1-2" name="2letter2" maxlength="1">
                <input type="text" class="inactive" id="i4-1-3" name="2letter3" maxlength="1">
                <input type="text" class="inactive" id="i4-1-4" name="2letter4" maxlength="1">
                <input type="text" class="inactive" id="i4-1-5" name="2letter5" maxlength="1">
            </form>

            <form>
                <input type="text" class="inactive" id="i5-1-1" name="2letter1" maxlength="1">
                <input type="text" class="inactive" id="i5-1-2" name="2letter2" maxlength="1">
                <input type="text" class="inactive" id="i5-1-3" name="2letter3" maxlength="1">
                <input type="text" class="inactive" id="i5-1-4" name="2letter4" maxlength="1">
                <input type="text" class="inactive" id="i5-1-5" name="2letter5" maxlength="1">
            </form>

            <form>
                <input type="text" id="1-1-1" name="letter1" maxlength="1">
                <input type="text" id="1-1-2" name="letter2" maxlength="1">
                <input type="text" id="1-1-3" name="letter3" maxlength="1">
                <input type="text" id="1-1-4" name="letter4" maxlength="1">
                <input type="text" id="1-1-5" name="letter5" maxlength="1">
            </form>
        </section>
    </div>

    <article class="qwerty">
        <article>
            <input type="text" placeholder="Й">
            <input type="text" placeholder="Ц">
            <input type="text" placeholder="У">
            <input type="text" placeholder="К">
            <input type="text" placeholder="Е">
            <input type="text" placeholder="Н">
            <input type="text" placeholder="Г">
            <input type="text" placeholder="Ш">
            <input type="text" placeholder="Щ">
            <input type="text" placeholder="З">
            <input type="text" placeholder="Х">
            <input type="text" placeholder="Ъ">
        </article>
        <article id="second">
            <input type="text" placeholder="Ф">
            <input type="text" placeholder="Ы">
            <input type="text" placeholder="В">
            <input type="text" placeholder="А">
            <input type="text" placeholder="П">
            <input type="text" placeholder="Р">
            <input type="text" placeholder="О">
            <input type="text" placeholder="Л">
            <input type="text" placeholder="Д">
            <input type="text" placeholder="Ж">
            <input type="text" placeholder="Э">
        </article>
        <article id="third">
            <input type="text" placeholder="Я">
            <input type="text" placeholder="Ч">
            <input type="text" placeholder="С">
            <input type="text" placeholder="М">
            <input type="text" placeholder="И">
            <input type="text" placeholder="Т">
            <input type="text" placeholder="Ь">
            <input type="text" placeholder="Б">
            <input type="text" placeholder="Ю">
            <input type="text" placeholder="Ё">
        </article>
    </article>
</body>

</html>