<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wordly</title>
</head>

<body>
    <div class="form_auth_block">
        <div class="form_auth_block_content">
            <p class="form_auth_block_head_text">Авторизация</p>
            <form class="form_auth_style" action="{% url 'users:login' %}" method="post">
                <label>Введите Ваш ник</label>
                <input type="username" name="username" required>
                <button class="form_auth_button" type="submit" name="form_auth_submit">Войти</button>
                {% if SIGNUP %}
                {% block signup %}
                {% endblock %}
                {% endif %}
                {% csrf_token %}
            </form>
        </div>
    </div>
</body>

</html>